/*
File Name: generic.css
Date: 08/06/17
Programmer: Jeremy Braun
*/

/* GENERIC STYLESHEET */
 
/*

BOX-SIZING CHANGE (box-sizing property)

The following CSS changes the default box-sizing of box elements from
content-box to border-box.

*/

* {
    box-sizing: border-box;
}
 
/*

TEXT RENDERING (text-rendering property)


FONT SMOOTHING (font-smoothing property)
*/

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*

USE IMAGES, EMBEDS AND OBJECTS FREELY WITHOUT WORRYING ABOUT SIZES AND
BREAKING YOUR LAYOUTS (max-width property)
*/

img, embed, object, iframe {
    max-width: 100%;
}

/*

DEFAULT BEHAVIOR OF SELECTED HYPERLINKS (outline property)

*/

a {
    outline: none;
}

/*

IDENTIFYING HYPERLINK URLs FOR NON-INTERACTIVE DEVICE MEDIA (FOR PRINT,
content property)

Printed versions of the web page will now add the URL right after the
hyperlink, since you can't follow hyperlinks on printed pages. At least,
not yet! The content property allows this.

*/

 @media print {
    a:after {
        content: " [' attr(href) '] ";
    }
}